- name: Download MongoDB gpg key
  ansible.builtin.get_url:
    url: "{{ mongodb_gpg_key }}"
    dest: "/usr/share/keyrings/mongodb-server-{{ mongodb_version_maj_minor }}.asc"
    mode: "0644"

- name: De-armour MongoDB gpg key
  ansible.builtin.command: >
    gpg --dearmor --yes
    --output /usr/share/keyrings/mongodb-server-{{ mongodb_version_maj_minor }}.gpg
    /usr/share/keyrings/mongodb-server-{{ mongodb_version_maj_minor }}.asc
  args:
    creates: "/usr/share/keyrings/mongodb-server-{{ mongodb_version_maj_minor }}.gpg"

- name: Add MongoDB repository into sources list
  ansible.builtin.apt_repository:
    filename: "mongodb-org-{{ mongodb_version_maj_minor }}"
    repo: "{{ mongodb_repository }}"
    state: present

- name: Set MongoDB apt package list
  ansible.builtin.set_fact:
    mongodb_apt_packages: >-
      {{
        ['mongodb-org=' + mongodb_version]
        if (mongodb_version is regex('^\\d+\\.\\d+\\.\\d+$'))
        else ['mongodb-org']
      }}

- name: Install MongoDB
  ansible.builtin.apt:
    update_cache: true
    name: "{{ mongodb_apt_packages }}"
    state: present
  register: mongodb_pkg_install
  notify: Enable MongoDB

- name: Hold MongoDB packages
  ansible.builtin.dpkg_selections:
    name: "{{ mongodb_pkg }}"
    selection: hold
  ignore_errors: true
  register: mongodb_held_packages
  loop: "{{ mongodb_pkg_hold_list }}"
  loop_control:
    loop_var: mongodb_pkg
  when:
    - mongodb_pkg_hold
    - mongodb_pkg_install is succeeded
